@import url('./bootstrap.min.css');
@import url('./carousel.css');
body {
    position:relative;
    
    margin: 0;
 padding: 0;
}


.navbar-item-custom, .navbar-item-custom a {
    color:#fff;

}

.footer-custom {
    text-align:center;
   
    background-color:#e4e4e4;
    padding-top:25px;
    margin-top:50px;
    width:auto;
}
.product-item h5 {
    text-transform:UPPERCASE;
    font-size:30px;
    margin-bottom:1px;
    
}
.product-item {
    margin-top:50px;
}
.product-item .product-subtitle {
    font-size:14px;
    display:block;
    margin-bottom:10px;
   
}
.product-item .product-price {
    font-size:20px;
    

}

.product-container {
    margin-bottom:150px;
}

.product-page-price {
    font-size:19px;
    
}

.cart-icon {
    height:20px;
    padding-left:20px;
}
.block-small {
    max-width:600px;
    margin:0 auto;
}
.account-item {
    background-color: #f1f2f6;
    padding: 70px;
    
}
.account-item a {
    text-transform: UPPERCASE;
    font-size:10px;
    color : #4b6584;
    font-weight:bold;
}
.account-item a:hover {
    
    color : #77Bca3;
    text-decoration:none;
    
}